@{
    ViewData["Title"] = "Успех";
}

@section Background{
    <style>
        body {
            background: url(https://pibig.info/uploads/posts/2022-12/1670044920_1-pibig-info-p-krasno-chernii-gradient-fon-krasivo-1.jpg);
            background-size: cover;
        }
    </style>
}

@section About{
    <span>
        <font color="white">
            <i class="bi bi-person"></i> Контакты: +375 29 873 17 76,
            <a href="https://vk.com/daryushka_zzz" target="_blank" style="color:red"> Заблоцкая Дарья</a>
        </font>
    </span>
}

<h1 style="position:absolute; left:300px; top:100px; color:white">
    Вы успешно забронировали место
</h1>
