@{
    ViewData["Title"] = "Успех";
}

@{
    var film = (string)ViewBag.Film;
    var date = (DateTime)ViewBag.Date;
    var hall = (int)ViewBag.Hall;
    var row = (int)ViewBag.Row;
    var seat = (int)ViewBag.Seat;
}

@section Background{
    <style>
        body {
            background: url(https://pibig.info/uploads/posts/2022-12/1670044920_1-pibig-info-p-krasno-chernii-gradient-fon-krasivo-1.jpg);
            background-size: cover;
        }
    </style>
}

@section About{
    <span>
        <font color="white">
            <i class="bi bi-person"></i> Контакты: +375 29 873 17 76,
            <a href="https://vk.com/daryushka_zzz" target="_blank" style="color:red"> Заблоцкая Дарья</a>
        </font>
    </span>
}

<h1 style="position:absolute; left:500px; top:100px; color:white">
    Ваш билет:
</h1>

<img src="~/images/ticket.jpg" style="position:absolute; top:190px; left:300px; width: 650px; height: 300px">

<h4 style="position:absolute; left:340px; top: 265px; width:290px; font-family: 'Comic Sans MS'">
    <font color="red">ФИЛЬМ</font>
</h4>

<h4 style="position:absolute; left:340px; top: 350px; width:290px; font-family: 'Comic Sans MS'">
    <font color="white">@film</font>
</h4>

<h6 style="position: absolute; left: 760px; top: 300px; font-family: 'Comic Sans MS'">
    <font color="black">@date</font>
</h6>

<h6 style="position: absolute; left: 730px; top: 338px; font-family: 'Comic Sans MS'">
    <font color="black">@hall</font>
</h6>

<h6 style="position: absolute; left: 730px; top: 380px; font-family: 'Comic Sans MS'">
    <font color="black"> @row </font>
</h6>

<h6 style="position: absolute; left: 750px; top: 420px; font-family: 'Comic Sans MS'">
    <font color="black"> @seat </font>
</h6>