@{
    ViewData["Title"] = "О нас";
}

@section Background{ 
    <style>
        body {
            background: url(https://sun9-87.userapi.com/impg/OSp6kG4Xnce5tphz1s2PeF9BUjBaqwbMidxM5Q/STIhmMpgSsY.jpg?size=1280x720&quality=95&sign=08a7789822f472df865b272e02466f8f&type=album);
            background-size: cover;
        }
    </style>
}

<div>
    <h1 style="position: absolute; top: 100px; left: 100px; font-family: 'Comic Sans MS'">
        <font color="white">Контакты</font>
    </h1>

    <h3 style="position: absolute; top: 180px; left: 100px; font-family: 'Comic Sans MS'">
        <font color="white">Кинотеатр</font> <font color="red">Redcin</font>
    </h3>

    <h4 style="position: absolute; top: 240px; left: 100px; font-family: 'Comic Sans MS'">
        <font color="white">Г. Минск, пр. Пушкина, 85</font>
    </h4>

    <h4 style="position: absolute; top: 290px; left: 100px; font-family: 'Comic Sans MS'">
        <font color="white">+375 29 873 17 76</font>
    </h4>

    <h4 style="position: absolute; top: 330px; left: 100px; font-family: 'Comic Sans MS'">
        <a href="https://vk.com/daryushka_zzz" target="_blank" style="color:red">Заблоцкая Дарья</a>
    </h4>


    <h4 style="position: absolute; top: 380px; left: 100px; font-family: 'Comic Sans MS'">
        <font color="white">Время работы: </font>
    </h4>

    <h5 style="position: absolute; top: 410px; left: 100px; font-family: 'Comic Sans MS'">
        <font color="white">
            <ul>
                <li>Понедельник-пятница: 10:00 - 00:00</li>
                <li>Суббота: 10:00 - 02:00</li>
                <li>Воскресенье: выходной</li>
            </ul>
        </font>
    </h5>

</div>
<div style="position: relative; overflow: hidden; top: 45px; left: 600px; height: 350px; width: 450px">
    <a href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Минск</a>
    <a href="https://yandex.by/maps/157/minsk/house/Zk4YcwdgQE0PQFtpfXVzcnxrYQ==/?ll=27.502477%2C53.922906&utm_medium=mapframe&utm_source=maps&z=17.04" style="color:#eee;font-size:12px;position:absolute;top:14px;">Проспект Пушкина, 85 — Яндекс Карты</a>
    <iframe src="https://yandex.by/map-widget/v1/?ll=27.502477%2C53.922906&mode=whatshere&whatshere%5Bpoint%5D=27.501033%2C53.923179&whatshere%5Bzoom%5D=17&z=17.04" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
</div>