@{
    ViewData["Title"] = "Главная страница";
}

@{
    Layout = "_HomeLayout";
}

<div>
    <h1 style="font-family : 'Comic Sans MS'" class="text-center">
        <font color="red">REDCIN</font>
    </h1>

    <img src="images/Home.jpg"
         width="560"
         height="400">

    <h3 style="position: absolute; top: 190px; left: 700px; font-family: 'Comic Sans MS'">
        <font color="white">Добро пожаловать в наш кинотеатр</font>
    </h3>

    <h3 style="position: absolute; top: 245px; left: 700px; font-family: 'Comic Sans MS'">
        <font color="white">C высокотехнологичным оборудованием,</font>
    </h3>

    <h3 style="position: absolute; top: 340px; left: 700px; font-family: 'Comic Sans MS'">
        <font color="white">Kомфортными креслами и вкусными кинозакусками.</font>
    </h3>

    <button type="button" class="btn btn-danger btn-lg" style="position: absolute; top: 450px; left: 900px">Афиша</button>
</div>
