@using MoviePoster.Dtos
@model AdminAddAndDeleteDataDto

@{
    ViewData["Title"] = "Удалить время";
}

@section Background{
    <style>
        body {
            background: url(https://pibig.info/uploads/posts/2022-12/1670044920_1-pibig-info-p-krasno-chernii-gradient-fon-krasivo-1.jpg);
            background-size: cover;
        }
    </style>
}

@section About{
    <span>
        <font color="white">
            <i class="bi bi-person"></i> Контакты: +375 29 873 17 76,
            <a href="https://vk.com/daryushka_zzz" target="_blank" style="color:red"> Заблоцкая Дарья</a>
        </font>
    </span>
}

<div>

    <h3 style="position: absolute; left: 500px; top: 70px; font-family: 'Comic Sans MS'">
        <font color="white">Заполните поля:</font>
    </h3>

    <form method="post">
        <div class="row" style="position: absolute; top: 130px; width:1200px; left:50px">
            <div class="row">
                <input asp-for="Date" class="form-control" placeholder="время">
            </div>
        </div>
        <div class="row" style="position: absolute; top: 200px; left:570px">
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
    </form>
</div>
